<!DOCTYPE html><!-- Definicion de tipo de documento -->
<html lang="en"><!-- Apertura de la pagina html -->
<head><!-- Encabezado de la pagina html -->
    <meta charset="UTF-8"><!-- Codificacion de Caracteres especiales  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>::.. APP ACADEMICA ..::</title>
</head>
<body><!-- Contenido de la pagina html -->
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">REGISTRO DE ALUMNOS</div>
                    <div class="card-body">
                        <form id="frmAlumno" @submit.prevent="guardarAlumno" @reset.prevent="nuevoAlumno()">
                            <div class="row p-1">
                                <div class="col-3 col-md-2">CODIGO:</div>
                                <div class="col-9 col-md-3">
                                    <input class="form-control" type="text" v-model="alumno.codigo" name="txtCodigoAlumno" id="txtCodigoAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">NOMBRE:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.nombre" name="txtNombreAlumno" id="txtNombreAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col col-md-6">
                                    <input class="btn btn-success" type="submit" value="Guardar Datos">
                                </div>
                                <div class="col col-md-6">
                                    <input class="btn btn-warning" type="reset" value="Nuevo Registro">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card text-bg-light">
                    <div class="card-header">CONSULTA DE ALUMNOS</div>
                    <div class="card-body">
                        <form>
                            <table class="table table-dark table-hover">
                                <thead>
                                    <tr>
                                        <th>BUSCAR:</th>
                                        <th colspan="2"><input type="text" @keyup="listarAlumnos()" v-model="buscar" 
                                            class="form-control" placeholder="Busar por nombre" ></th>
                                    </tr>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th colspan="2">NOMBRE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="alumno in alumnos" @click='modificarAlumno(alumno)' :key="alumno.idAlumno">
                                        <td>{{alumno.codigo}}</td>
                                        <td>{{alumno.nombre}}</td>
                                        <td><button @click.prevent="eliminarAlumno(alumno)" class="btn btn-danger">Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    db       : '',
                    buscar   : '',
                    alumnos : [],
                    accion   : 'nuevo',
                    alumno  : {
                        idAlumno : '',
                        codigo    : '',
                        nombre    : ''
                    }
                }
            },
            methods:{
                nuevoAlumno(){
                    this.accion = 'nuevo';
                    this.alumno.idAlumno = '';
                    this.alumno.codigo = '';
                    this.alumno.nombre = '';
                },
                modificarAlumno(alumno){
                    this.accion = 'modificar';
                    this.alumno = alumno;
                },
                guardarAlumno(){
                    let store = this.abrirStore("tblalumnos", 'readwrite');
                    if( this.accion==='nuevo' ){
                        this.alumno.idAlumno = new Date().getTime().toString(16);//las cantidad milisegundos y lo convierte en hexadecimal   
                    }
                    let query = store.put( JSON.parse( JSON.stringify(this.alumno) ));
                    query.onsuccess = resp=>{
                        this.nuevoAlumno();
                    };
                    query.onerror = err=>{
                        console.error('ERROR al guardar alumno', err);
                    };
                },
                eliminarAlumno(alumno){
                    if( confirm(`Esta seguro de eliminar el alumno ${alumno.nombre}?`) ){
                        this.accion="eliminar";
                        this.alumno = alumno;
                        this.guardarAlumno();
                    }
                },
                listarAlumnos(){
                    let store = this.abrirStore('tblalumnos', 'readonly'),
                        data = store.getAll();
                    data.onsuccess = resp=>{
                        this.alumnos = data.result;
                    };
                },
                abrirBD(){
                    let indexDB = indexedDB.open('db_sistema_academico', 1);
                    indexDB.onupgradeneeded = e=>{
                        let req = e.target.result,
                            tblalumnos = req.createObjectStore('tblalumnos', {keyPath:'idAlumno'}),
                            tblmaterias = req.createObjectStore('tblmaterias', {keyPath:'idMateria'});

                        tblalumnos.createIndex('idAlumno', 'idAlumno', {unique: true});
                        tblalumnos.createIndex('codigo', 'codigo', {unique: true});
                    };
                    indexDB.onsuccess = e=>{
                        this.db = e.target.result;
                        this.listarAlumnos();
                    };
                    indexDB.onerror = e=>{
                        console.error('ERROR al crear, abrir la BD', e);
                    };
                },
                abrirStore(store, modo){
                    let ltx = this.db.transaction(store, modo);
                    return ltx.objectStore(store);
                }
            },
            created(){
                this.abrirBD();
            }
        }).mount('#app')
    </script>
</body>
</html>